.parallax{
    perspective: 1px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.group1{
    background: url(../images/header-bg.jpeg) no-repeat 0 -300px;
    background-size: 100vw;
}
/*.layer{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*padding: 100vh 0;*/
/*}*/
/*.layer_base{*/
    /*transform: translateZ(0);*/
/*}*/
/*.layer_fore{*/
    /*transform: translateZ(0);*/

/*}*/
header{
    height: 71px;
    background-color: #1d2124;
    color: #fff;
}
a{
    display: block;
    text-decoration: none;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteName{
    position: absolute;
    top: 27px;
    left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
.search{
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa{
    color: #fff;
}
nav{
    width: 700px;
    height: 70px;
    border: 1px solid white;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    flex: 1 0 auto;
}
nav a{
    display: block;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.container2{
    background-color: rgba(0,0,0,0.4);
    padding: 120px 0 170px 0;
}
.container2>p{
    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    color: #fff;
}
.subscribeButton{
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    border-radius: 3px;
}
.subscribeButton a{
    color: #fff;
    display: block;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.articleButton{
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    border-radius: 3px;
}
.articleButton a{
    color: #fff;
    display: block;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.buttons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 360px;
}
